---
title: "The future of Data Science is here"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_image: /images/tree-desert.jpg
  overlay_color: "#000"
  overlay_filter: "0.25"
excerpt: "AI is transforming Data Science, bringing new challenges and opportunities. Let's explore them together!"
intro: 
  - excerpt: >-
        In the age of AI, Data Science becomes more important than ever. 
        Building new products and features will only get cheaper, but that means the new bottleneck is the core DS feature set: **defining** success, **measuring** it and delivering **improvement**.
        <br><br>*AI can't do this on its own. It can help capable individuals do it better.*
classes:
  - landing
  - dark-theme
feature_row2:
  - image_path: /images/desert-portrait.jpg
    alt: "Hi! I'm Michael"
    title: "Why me?"
    excerpt: >-
        I am a Data Scientist with over a decade of experience across multiple 
        industries. In my most recent role at Google, I focused on data acquisition 
        and data quality for flagship AI products like Gemini. Currently, as the lead 
        data scientist at a startup, I am always looking for new opportunities to 
        solve complex Data Science and AI challenges.
    url: "/about-me/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /images/services/glacier.jpg
    alt: "glacier"
    title: "AI audits and integrations"
    excerpt: >
      I can help you assess your business's AI capabilities and add new 
      automations, with LLMs, agents, NLP and other AI technologies. And
      when you're ready, I'll lead the creation of your new AI solutions.
  - image_path: /images/services/canyon.jpg
    alt: "placeholder image 2"
    title: "Dataset development"
    excerpt: >
      I have years of experience building datasets to improve AI and ML applications.
      Measure data quality, validity and reliability. Build autolabeling pipelines
      and data validation tools to scale.
  - image_path: /images/services/mountain.jpg
    title: "Growth"
    excerpt: >
      I will teach you to measure success, apply experiments and deliver 
      meaningful improvements for your customers. Apply predictive modeling, 
      forecasting and advanced statistics to your business problems.
---


{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="intro" type="center" %}

<h1 class="archive__item-title">My services</h2>

{% include feature_row id="feature_row3" %}

<div class="feature__wrapper">
    <div class="feature__item--left">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="/images/path.jpg" alt="Let's work together.">
          </div>
        <div class="archive__item-body">
          <form
            action="https://formspree.io/f/xwpbkkyb"
            class="fs-form"
            target="_top"
            method="POST"
          >
            <h2 class="archive__item-title" style="padding-bottom: 0; margin: 0;">Let's talk</h2>
            <div class="archive__item-excerpt">
              <p>Send me an email. I'd love to learn more about you and your business.</p>
            </div>
            <div class="fs-field">
              <label class="fs-label" for="email">Your Email</label>
              <input class="fs-input" id="email" name="email" required />
            </div>
            <div class="fs-field">
              <label class="fs-label" for="message">How can I help?</label>
              <textarea
                class="fs-textarea"
                id="message"
                name="message"
                required
              ></textarea>
            </div>
            <div class="fs-button-group">
              <button class="fs-button" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  

</div>
