/* ==========================================================================
   Pygments.rb syntax highlighting
   ========================================================================== */

.highlight {
  margin-bottom: 25px;
}
.highlight .gutter {
  width: 50px;
}
.highlight td {
  padding: 0;
  border: solid 1px #ddd;
}
.highlight pre {
  margin: 0;
}
.highlight .code {
  width: calc(100% - 50px);
  overflow-y: scroll;
}
.highlight .code pre {
  padding: 12px;
}
