---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "formspring";
@import "mailerlite";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page__content ul li, ol li {
    margin-left: 1em;
}

// Customization

// New background color
$background-color: #222;

// Override minimal mistakes variables
body {
  background-color: $background-color;
}

.masthead {
  background-color: $background-color;
}

.page__footer {
  background-color: #1E1E1E; // Darker than the new background
}


// Formspree form
.fs-form {
  background-color: #333;
  padding: 20px;
  border-radius: 4px;
}

.fs-form h2,
.fs-form p {
    color: #eee;
}

.fs-label {
  color: #eee !important;
}

.fs-input,
.fs-textarea {
  background-color: #444 !important;
  color: #eee !important;
  border-color: #555 !important;
  box-shadow: #555 0 0 0 1px inset !important;
}

.fs-input::placeholder,
.fs-textarea::placeholder {
  color: #ccc !important;
}

.greedy-nav {
    background: #222 !important;
}

.greedy-nav .hidden-links {
  background-color: #222 !important;
}

.toc {
    background-color: #333;
}
